input {
    margin: 2px 0;
}

.btn-group {
    margin: 2px 0;
}

td.tq-uuid {
    max-width: 12em;
}

td.tq-uri {
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100px;
}

ul.tq-keywords {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
