Thanks for signing up for an account at [% c.config.name %].

Please confirm your account by clicking here:
[% c.uri_for('/user/confirm/' _ object.guid) %]

If you received this email in error, please disregard.
