This email confirms your account at [% c.config.name %].

Please confirm your account by clicking here:
[% c.uri_for('/v1/user/confirm/' _ object.api_key) %]

If you received this email in error, please disregard.
