; TQ configuration

[dev]
username = tq
password = tqpw
dbname = tq
server_time_zone = America/Chicago
app_base_uri = http://127.0.0.1:3000
app_debug = true
app_workers = 2

;; test master/slave feature
[master_slave_test]
username = tq
password = tqpw
dbname   = tq
hostname = no_such_host, no_such_other_host
write_hostname = localhost
server_time_zone = America/Chicago

